:root{
    --background: rgb(61, 78, 91);
    --gray:rgb(184, 184, 184);
    --lightTurqoise: rgb(127, 176, 195);
    --white : rgb(253, 246, 246);
    --lightGray: rgb(236, 232, 232);
    --pink: rgb(226, 110, 191);
    --purple: rgb(166, 23, 166);
    
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    color: var(--gray);
}

input,button{
    background-color: none;
    appearance: none;
    border:none;
    outline: none;
}

#new-task-form{
    display: flex;
    justify-content: center;
}

#new-task-input{
   margin: 0px 10px 0px 10px;
   border-radius: 1rem;
   border: none;
   color: var(--white);
   background-color: var(--lightTurqoise);
   height: 3em;
   width: 20em;

}

#new-task-input::placeholder{
    color: var(--lightGray);
}

#new-task-submit{
    color: var(--pink);
    font-weight: 800;
    background-image: linear-gradient(to right, var(--pink),var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.5s;
}

#new-task-submit:hover{
    background-image: none;
}


section.task-list{
    
}